use sea_orm_migration::prelude::*;

#[derive(DeriveMigrationName)]
pub struct Migration;

#[async_trait::async_trait]
impl MigrationTrait for Migration {
    async fn up(&self, manager: &SchemaManager) -> Result<(), DbErr> {
        manager
            .create_table(
                Table::create()
                    .table({@ iden @}::Table)
                    .if_not_exists()
                    .col(
                        ColumnDef::new({@ iden @}::Id)
                            .uuid()
                            .not_null()
                            .primary_key(),
                    )
{%- for field in fields %}
                    .col(ColumnDef::new({@ iden @}::{@ field.pascal_name @}).{@ field.migration_method @}.{@ "null()" if field.optional else "not_null()" @}{@ ".unique_key()" if field.unique else "" @})
{%- endfor %}
{%- for field in fields if field.relation %}
                    .foreign_key(
                        ForeignKey::create()
                            .name("fk_{@ table @}_{@ field.name @}")
                            .from({@ iden @}::Table, {@ iden @}::{@ field.pascal_name @})
                            .to({@ field.relation.target_iden @}::Table, {@ field.relation.target_iden @}::Id)
                            .on_delete(ForeignKeyAction::{@ field.relation.on_delete @}),
                    )
{%- endfor %}
                    .col(
                        ColumnDef::new({@ iden @}::CreatedAt)
                            .timestamp_with_time_zone()
                            .not_null()
                            .default(Expr::current_timestamp()),
                    )
                    .col(
                        ColumnDef::new({@ iden @}::UpdatedAt)
                            .timestamp_with_time_zone()
                            .not_null()
                            .default(Expr::current_timestamp()),
                    )
                    .to_owned(),
            )
            .await?;
{% for field in fields if field.index %}
        manager
            .create_index(
                Index::create()
                    .if_not_exists()
                    .name("idx_{@ table @}_{@ field.name @}")
                    .table({@ iden @}::Table)
                    .col({@ iden @}::{@ field.pascal_name @})
                    .to_owned(),
            )
            .await?;
{% endfor %}
        Ok(())
    }

    async fn down(&self, manager: &SchemaManager) -> Result<(), DbErr> {
        manager
            .drop_table(Table::drop().table({@ iden @}::Table).to_owned())
            .await
    }
}

#[derive(DeriveIden)]
enum {@ iden @} {
    Table,
    Id,
{%- for field in fields %}
    {@ field.pascal_name @},
{%- endfor %}
    CreatedAt,
    UpdatedAt,
}
{% for target in target_idens %}
#[derive(DeriveIden)]
enum {@ target @} {
    Table,
    Id,
}
{% endfor %}
