use sea_orm::entity::prelude::*;

#[derive(Clone, Debug, PartialEq, DeriveEntityModel)]
#[sea_orm(table_name = "{@ table @}")]
pub struct Model {
    #[sea_orm(primary_key, auto_increment = false)]
    pub id: Uuid,
{%- for field in fields %}
{%- set attributes = [
        'column_type = "' ~ field.column_type_attribute ~ '"' if field.column_type_attribute else none,
        "unique" if field.unique else none,
        "indexed" if field.index else none,
    ] | select | join(", ") %}
{%- if attributes %}
    #[sea_orm({@ attributes @})]
{%- endif %}
    pub {@ field.name @}: {@ field.rust_type @},
{%- endfor %}
    pub created_at: DateTimeWithTimeZone,
    pub updated_at: DateTimeWithTimeZone,
}

#[derive(Copy, Clone, Debug, EnumIter, DeriveRelation)]
pub enum Relation {}

impl ActiveModelBehavior for ActiveModel {}
